:root {
  --primary-color: #234518;
  --secondary-color: #dfdfdf;
  --accent2-color: #c5a059;
  --accent-color: #5e8152;
  --text-on-primary: #ffffff;
  --text-on-secondary: #000000;
  --text-on-accent: #ffffff;

  --heading-font: "Palatino Linotype", "Palatino", serif;
  --body-font: "Georgia", "Times New Roman", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--secondary-color);
  color: var(--text-on-secondary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: var(--primary-color);
  color: var(--text-on-primary);
  padding: 1rem;
  text-align: center;
  border-bottom: 2px solid var(--accent2-color);
}

header h1 {
  font-family: var(--heading-font);
  font-variant: small-caps;
  font-weight: normal;
  margin-top: 0;
}

nav {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

nav a {
  color: var(--text-on-primary);
  text-decoration: none;
  font-size: 1.2rem;
  border-bottom: 1px solid #5e8152;
  padding-bottom: 1rem;
  width: 100%;
  font-family: var(--heading-font);
}

.menu-toggle {
  background: none;
  border: none;
  color: var(--text-on-primary);
  font-size: 2rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

main {
  background-color: var(--secondary-color);
  flex: 1;
}

.contact-info {
  padding: 20px;
  background-color: white;
  color: var(--primary-color);
  text-align: center;
}
.contact-info h3 {
  font-family: var(--body-font);
  font-weight: 100;
  font-size: 13pt;
}
.contact-info p,
.contact-info a {
  font-size: 13pt;
  line-height: 1.25;
  text-decoration: none;
  color: var(--primary-color);
}

.contact-info a:hover {
  text-decoration: underline;
  text-decoration-color: var(--accent2-color);
}

footer {
  background-color: var(--primary-color);
  color: var(--text-on-primary);
  border-top: 2px solid var(--accent2-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  font-family: var(--body-font);
  font-size: 0.9rem;
}

#legal-disclaimer {
  color: var(--secondary-color);
  text-align: center;
  max-width: 90%;
}

/* Main Page Styles */
.hero {
  padding: 10px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--text-on-accent);
}
.hero h2 {
  font-family: var(--heading-font);
  font-size: 1.8rem;
}
.hero p {
  font-size: 15pt;
  line-height: 1.5;
  max-width: 640px;
  margin: 0 auto;
}

#practice-areas {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  padding: 20px;
  margin: 20px;
  color: var(--text-on-primary);
  border-radius: 20px;
}

#practice-areas h2 {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

#practice-areas li {
  font-size: 1rem;
  margin: 10px;
  list-style-type: none;
}

.content {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content h2 {
  font-size: 2rem;
}

#bio img {
  width: 150px;
  height: auto;
  border-radius: 2px;
}

#bio {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  align-items: center;
  text-align: left;
}

.credentials {
  color: var(--text-on-accent);
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  background-color: var(--accent-color);
  line-height: 1.25;
  width: 90%;
}

.credentials h3 {
  text-align: center;
}

.credentials ul {
  list-style-type: none;
  font-style: italic;
}

#credentials-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 639px) {
  .hidden {
    display: unset;
  }

  nav {
    flex-direction: row;
    justify-content: center;
  }

  nav a {
    border-bottom: none;
    padding-bottom: 0;
    width: auto;
    font-size: 1rem;
    margin: 15px;
  }

  nav a:hover {
    border-bottom: 2px solid var(--accent2-color);
  }

  .menu-toggle {
    display: none;
  }

  .hero p {
    font-size: 13.5pt;
  }

  #practice-areas {
    max-width: 640px;
    margin: 40px auto;
  }

  #practice-areas li {
    font-size: 1.1rem;
  }

  #practice-areas h2 {
    font-size: 1.8rem;
  }

  .contact-info p,
  .contact-info a,
  .contact-info h3 {
    font-size: 12pt;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
    padding: 0 20px;
  }

  #legal-disclaimer {
    font-size: smaller;
    text-align: left;
    max-width: 60%;
  }

  #credentials-section {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .credentials {
    width: calc(100% / 2 - 40px);
  }
}
