:root {
  --primary-color: #234518;
  --secondary-color: #dfdfdf;
  --accent2-color: #c5a059;
  --accent-color: #5e8152;
  --text-on-primary: #ffffff;
  --text-on-secondary: #000000;
  --text-on-accent: #ffffff;

  --heading-font: "Palatino Linotype", "Palatino", serif;
  --body-font: "Georgia", "Times New Roman", serif;
}

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--secondary-color);
  color: var(--text-on-secondary);
}

header {
  background-color: var(--primary-color);
  color: var(--text-on-primary);
  padding: 1rem;
  text-align: center;
  border-bottom: 2px solid var(--accent-color);
}

header h1 {
  font-family: var(--heading-font);
  font-variant: small-caps;
  font-weight: normal;
}

nav {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

nav a {
  color: var(--text-on-primary);
  text-decoration: none;
  font-size: 1.2rem;
  border-bottom: 1px solid #5e8152;
  padding-bottom: 1rem;
  width: 100%;
  font-family: var(--heading-font);
}

.menu-toggle {
  background: none;
  border: none;
  color: var(--text-on-primary);
  font-size: 2rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

main {
  background-color: var(--secondary-color);
}

footer {
  background-color: var(--primary-color);
  color: var(--text-on-primary);
  border-top: 2px solid var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}

footer p {
  font-family: var(--body-font);
}

/* Main Page Styles */
.hero {
  padding: 10px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--text-on-accent);
}
.hero h2 {
  font-family: var(--heading-font);
  font-size: 1.8rem;
}
.hero p {
  font-size: 15pt;
  line-height: 1.5;
  max-width: 640px;
  margin: 0 auto;
}

#practice-areas {
  background-color: var(--primary-color);
  text-align: center;
  padding: 20px;
  margin: 20px;
  color: var(--text-on-primary);
  border-radius: 20px;
}

#practice-areas li {
  list-style-type: none;
  margin: 10px 0;
}

.content {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content h2 {
  font-family: var(--heading-font);
  font-size: 2rem;
}

#bio img {
  width: 150px;
  height: auto;
  border-radius: 2px;
}

#bio {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  align-items: center;
  text-align: left;
}

.credentials {
  color: var(--text-on-primary);
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--accent-color);
  background-color: var(--primary-color);
  line-height: 1.25;
  width: 100%;
  max-width: 500px;
}

.credentials ul {
  list-style-type: none;
  font-style: italic;
}

@media screen and (min-width: 639px) {
  .hidden {
    display: unset;
  }

  nav {
    flex-direction: row;
    justify-content: center;
  }

  nav a {
    border-bottom: none;
    padding-bottom: 0;
    width: auto;
    font-size: 1rem;
    margin: 15px;
  }

  nav a:hover {
    border-bottom: 2px solid var(--accent2-color);
  }

  .menu-toggle {
    display: none;
  }

  .hero p {
    font-size: 13.5pt;
  }

  #practice-areas {
    max-width: 640px;
    margin: 30px auto;
  }

  #practice-areas li {
    font-size: 1.1rem;
  }

  footer {
    justify-content: left;
  }
  footer p {
    padding-left: 40px;
  }
}
